
<div class="dashboard-container">
  <header class="dashboard-header">
    <div class="header-left">
      <img src="assets/logo-eng.jpg" alt="Logo" class="logo-img" />
      <span class="dashboard-title">Parc de gestion des équipements</span>
    </div>
    <div class="profile" (click)="profileOpen = !profileOpen">
      <img class="profile-img" src="assets/user.png" alt="Profil utilisateur" />
      <span class="profile-name">{{ user.nom }} {{ user.prenom }}</span>
      <div class="profile-menu" *ngIf="profileOpen">
    <div class="menu-username">{{ user.nom }} {{ user.prenom }}</div>
        <button class="logout-btn" (click)="logout()">Déconnexion</button>
      </div>
    </div>
  </header>

  <main class="dashboard-content">
    <div class="dashboard-cards">

      <div *ngIf="isAdminIT" class="card" (click)="navigateToUserManagement()">
        <div class="card-icon">👥</div>
        <h2>Gérer les Utilisateurs</h2>
      </div>

      

      <div class="card" (click)="navigateTo('/equipment')">
        <div class="card-icon">🔧</div>
        <h2>Gérer les Équipements</h2>
      </div>
      <div class="card" (click)="navigateTo('/movements')">
        <div class="card-icon">🔄</div>
        <h2>Gérer le Mouvement des Équipements</h2>
      </div>

      <div  *ngIf="isAdminIT || isAdminMetier"  class="card" (click)="navigateTo('/codification')">
        <div class="card-icon">📋</div>
        <h2>Gérer les tables de Codification</h2>
      </div>

    </div>
  </main>
</div>


<div class="modal" *ngIf="showLogoutConfirm">
  <div class="form">
    <h3>Déconnexion</h3>
    <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
    <div class="actions">
      <button class="btn orange" (click)="confirmLogout()">Oui</button>
      <button class="btn grey" (click)="cancelLogout()"> Non</button>
    </div>
  </div>
</div>
