<div class="topbar">
  <div class="logo">
    <img src="assets/logo-eng.jpg" alt="ENG Logo" />
    <span class="site-name">Gestion des parcs des équipements</span>
  </div>


  <div class="menu-center">
    <a class="menu-button" (click)="navigateTo('/dashboard')">Dashboard</a>
    <a class="menu-button" (click)="navigateTo('/equipment')">Équipement</a>
    <a class="menu-button" *ngIf="isAdminIT" (click)="navigateTo('/user-management')">Utilisateur</a>
    <div class="dropdown">
      <button class="menu-button">Mouvement</button>
      <div class="dropdown-content">
        <a href="/movements/pret">Prêt</a>
        <a href="/reaffectation">Réaffectation</a>
        <a href="/reforme">Réforme</a>
        
      </div>
    </div>

    <div class="dropdown" *ngIf="isAdminIT || isAdminMetier">
      <button class="menu-button">Table de Codification</button>
      <div class="dropdown-content"> 
        <a href="/caracteristique">Caractéristique</a>
        <a href="/categorie">Catégorie</a> 
        <a href="/groupeidentique">Groupe Identique</a>  
        <a href="/marque">Marque</a>
        <a href="/organe">Organe</a>
        <a href="/typeeq">Type d'équipement</a>
        <a href="/unite">Unité</a>
       
      </div>
    </div>
  </div>


  <div class="profile" (click)="profileOpen = !profileOpen">
    <img class="profile-img" src="assets/user.png" alt="Profil utilisateur" />
    <span class="profile-name">{{ user.nom }} {{ user.prenom }}</span>
    <div class="profile-menu" *ngIf="profileOpen">
  <div class="menu-username">{{ user.nom }} {{ user.prenom }}</div>
      <button class="logout-btn" (click)="logout()">Déconnexion</button>
    </div>
  </div>
</div>

  
  <div class="container">
    <div class="toolbar">
      <input class="form-control" type="text" [(ngModel)]="searchTerm" placeholder="🔍 Rechercher..." (input)="search()" />
      <button class="btn sort-btn" (click)="toggleSort(sortBy)">
        <span class="arrow">{{ ascending ? '▲' : '▼' }}</span>
      </button>
      <div class="spacer"></div>
      <button class="btn orange btn-ajouter" (click)="openForm()">+ Ajouter Caractéristique</button>
    </div>
  
    <h2 class="header">Liste des Caractéristiques 
      <span class="tooltip badge">
        {{ caracteristiqueCount }}
        <span class="tooltip-text">Nombre total des caracteristiques</span>
      </span>
    </h2>
    <table>
        <thead>
          <tr>
    <th>Désignation</th>
    <th style="text-align: left;">
      <span style="display: inline-block; transform: translateX(560px);">Actions</span>
    </th>
          </tr>
        </thead>
        <tbody>  
    <tr *ngFor="let c of caracteristiques">
      <td>{{ c.libelle }}</td>
      <td>
        <button class="btn btn-warning me-2 tooltip" (click)="openForm(c)">✏️
          <span class="tooltip-text">Modifier cette caracteristique</span></button>
        <button class="btn btn-danger orange  tooltip tooltip-left" (click)="deleteCaracteristique(c)">🗑️
          
          <span class="tooltip-text">Supprimer cette caracteristique</span>
        </button>
      </td>
    </tr>
</tbody>
</table>
  
 <!-- Modal de suppression -->
<div class="modal" *ngIf="showDeleteConfirm">
  <div class="form">
    <h3>Confirmer la suppression</h3>
    <p>Voulez-vous vraiment supprimer cette caractéristique ?</p>
    <div class="actions">
      <button class="btn orange" (click)="confirmDeleteCaracteristique()">Supprimer</button>
      <button class="btn grey" (click)="cancelDeleteCaracteristique()">Annuler</button> 
    </div>
  </div>
</div>

    <!--  MODALE DECONNEXION -->
    <div class="modal" *ngIf="showLogoutConfirm">
      <div class="form">
        <h3>Déconnexion</h3>
        <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
        <div class="actions">
          <button class="btn orange" (click)="confirmLogout()">Oui</button>
          <button class="btn grey" (click)="cancelLogout()"> Non</button>
        </div>
      </div>
    </div>
    <div class="modal" *ngIf="showForm">
      <div class="form">
        <h3>{{ selectedCar ? 'Modifier' : 'Ajouter' }} une Caractéristique</h3>
        <input class="form-control" type="text" [(ngModel)]="libelle_input" placeholder="Désignation" />
        <div class="actions">
          <button class="btn orange" (click)="saveCaracteristique()">Enregistrer</button>
          <button class="btn grey" (click)="closeForm()"> Annuler</button>
        </div>
      </div>
    </div>
  </div>
  