<div class="topbar">
  <div class="logo">
    <img src="assets/logo-eng.jpg" alt="ENG Logo" />
    <span class="site-name">Gestion des parcs des équipements</span>
  </div>

  <div class="menu-center">
    <a class="menu-button" (click)="navigateTo('/dashboard')">Dashboard</a>
    <div class="dropdown">
      <button class="menu-button">Équipement</button>
      <div class="dropdown-content">
        <a href="/equipment">Table Équipement</a>
        <a href="/fiche-equipement">Fiche Équipement</a>
      </div>
    </div>
    <a class="menu-button" *ngIf="isAdminIT" (click)="navigateTo('/user-management')">Utilisateur</a>
    <div class="dropdown">
      <button class="menu-button">Mouvement</button>
      <div class="dropdown-content">
        <a href="/movements/pret">Prêt</a>
        <a href="/reaffectation">Réaffectation</a>
        <a href="/reforme">Réforme</a>
        
      </div>
    </div>

    <div class="dropdown" *ngIf="isAdminIT || isAdminMetier">
      <button class="menu-button">Table de Codification</button>
      <div class="dropdown-content"> 
        <a href="/caracteristique">Caractéristique</a>
        <a href="/categorie">Catégorie</a> 
        <a href="/groupeidentique">Groupe Identique</a>  
        <a href="/marque">Marque</a>
        <a href="/organe">Organe</a>
        <a href="/typeeq">Type d'équipement</a>
        <a href="/unite">Unité</a>
       
      </div>
    </div>
  </div>


  <div class="profile" (click)="profileOpen = !profileOpen">
    <img class="profile-img" src="assets/user.png" alt="Profil utilisateur" />
    <span class="profile-name">{{ user.nom }} {{ user.prenom }}</span>
    <div class="profile-menu" *ngIf="profileOpen">
  <div class="menu-username">{{ user.nom }} {{ user.prenom }}</div>
      <button class="logout-btn" (click)="logout()">Déconnexion</button>
    </div>
  </div>
</div>

  <div class="container">
    <div class="toolbar">
      <input class="form-control" type="text" [(ngModel)]="searchTerm" placeholder="🔍 Rechercher..." (input)="search()" />
      <select class="form-control" [(ngModel)]="sortBy" (change)="search()">
        <option value="equipement"> Désignation Équipement</option>
        <option value="codeeqp">Code Équipement</option>
        <option value="date">Date</option>
        <option value="numero">Numéro de décision</option>
        <option value="motif">Motif</option>
        
      </select>
      <button class="btn sort-btn" (click)="toggleSort(sortBy)">
        <span class="arrow">{{ order === 'asc' ? '▲' : '▼' }}</span>
      </button>
      <div class="spacer"></div>
      <button class="btn orange btn-ajouter" *ngIf="isAdminIT || isAdminMetier" (click)="openForm()"> Réformer un équipement</button>
    </div>
  
    <h2 class="header">
      Liste des Réformes 
      <span class="tooltip badge">
        {{ reformeCount }}
        <span class="tooltip-text">Nombre total des réformes</span>
      </span>
    </h2>
  
    <table>
      <thead>
        <tr>
          <th>Code Équipement</th>
          <th>Désignation Équipement</th>
          <th>Date</th>
          <th>Numéro de Décision</th>         
          <th>Motif</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of reformes">
          <td>{{ getCodeEqp(r.ideqpt) }}</td>
            <td>{{ getDesignation(r.ideqpt) }}</td>
             <td>{{ r.dateref | date: 'dd/MM/yyyy' }}</td>
          <td>{{ r.numdes }}</td>
          <td class="wrap-text">{{ r.motifref }}</td>
          
        </tr>
      </tbody>
    </table>
  
    <!-- Modal de création/modification -->
    <div class="modal" *ngIf="showForm">
      <div class="form">
        <h3>Réformer un équipement</h3>
        <form>
          
          <div class="form-section">
            <div class="form-group">
          <label>Équipement :</label>
          <select [(ngModel)]="newreforme.ideqpt" class="form-control long-select" name="equipement"
          (change)="onEquipementChange()" required>
            <option *ngFor="let e of equipements" [value]="e.idEqpt">{{ e.design }}</option>
          </select> </div>
        
          <div class="form-group" *ngIf="uniteDesignation">
            <label>Unité   :</label>
            <input class="form-control" type="text" [value]="uniteDesignation " disabled />
          </div>
          <div class="form-group" *ngIf="positionPhysique">
            <label>Position Physique :</label>
            <input class="form-control" type="text" [value]="positionPhysique" disabled />
          </div>
          
              
              <div class="form-group">
                <label for="dateref">Date</label>
                <input id="dateref" type="date" [(ngModel)]="dateref_input" name="dateref" class="form-control" />
              </div>
              
              <div class="form-group">
                <label for="numdes">Numéro de décision</label>
                <input id="numdes" type="number" [(ngModel)]="numdes_input" name="numdes" class="form-control" />
              </div>
              <div class="form-group">
                <label>Motif :</label>
                <textarea [(ngModel)]="motifref_input" name="motif" placeholder="Motif de la réforme"></textarea>
              </div>
              <div class="actions">
                <button class="btn orange" type="button" (click)="saveReforme()">Enregistrer</button>
                <button class="btn cancel" type="button" (click)="closeForm()">Annuler</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  
    <!-- Modal de déconnexion -->
    <div class="modal" *ngIf="showLogoutConfirm">
      <div class="form">
        <h3>Déconnexion</h3>
        <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
        <div class="actions">
          <button class="btn orange" (click)="confirmLogout()">Oui</button>
          <button class="btn grey" (click)="cancelLogout()">Non</button>
        </div>
      </div>
    </div>
  </div>
 
  