<div class="topbar">
  <div class="logo">
    <img src="assets/logo-eng.jpg" alt="ENG Logo" />
    <span class="site-name">Gestion des parcs des équipements</span>
  </div>


  <div class="menu-center">
    <a class="menu-button" (click)="navigateTo('/dashboard')">Dashboard</a>
    <a class="menu-button" (click)="navigateTo('/equipment')">Équipement</a>
    <a class="menu-button" *ngIf="isAdminIT" (click)="navigateTo('/user-management')">Utilisateur</a>
    <div class="dropdown">
      <button class="menu-button">Mouvement</button>
      <div class="dropdown-content">
        <a href="/movements/pret">Prêt</a>
        <a href="/reaffectation">Réaffectation</a>
        <a href="/reforme">Réforme</a>
        
      </div>
    </div>

    <div class="dropdown" *ngIf="isAdminIT || isAdminMetier">
      <button class="menu-button">Table de Codification</button>
      <div class="dropdown-content"> 
        <a href="/caracteristique">Caractéristique</a>
        <a href="/categorie">Catégorie</a> 
        <a href="/groupeidentique">Groupe Identique</a>  
        <a href="/marque">Marque</a>
        <a href="/organe">Organe</a>
        <a href="/typeeq">Type d'équipement</a>
        <a href="/unite">Unité</a>
       
      </div>
    </div>
  </div>

  <div class="profile" (click)="profileOpen = !profileOpen">
    <img class="profile-img" src="assets/user.png" alt="Profil utilisateur" />
    <span class="profile-name">{{ user.nom }} {{ user.prenom }}</span>
    <div class="profile-menu" *ngIf="profileOpen">
  <div class="menu-username">{{ user.nom }} {{ user.prenom }}</div>
      <button class="logout-btn" (click)="logout()">Déconnexion</button>
    </div>
  </div>
</div>

<main class="dashboard-content">

<div class="movement-container">
  <div class="movement-cards">
    <div class="card" (click)="navigateTo('/movements/pret')">📦 Gérer les Prêts</div>
    <div class="card" (click)="navigateTo('/reaffectation')">🔁 Gérer les Réaffectations</div>
    <div class="card" (click)="navigateTo('/reforme')">🗑️ Gérer les Réformes</div>
  </div></div></main>
<div class="modal" *ngIf="showLogoutConfirm">
  <div class="form">
    <h3>Déconnexion</h3>
    <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
    <div class="actions">
      <button class="btn orange" (click)="confirmLogout()">Oui</button>
      <button class="btn grey" (click)="cancelLogout()"> Non</button>
    </div>
  </div>
</div>